
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <!-- Brand Logo -->
      <a href="#" class="brand-link" style="padding: 0 0; padding-top: 8px;">
        <img src="@/assets/img/ems-logo-192x192.png" alt="EMS Logo"
             class="brand-image img-circle" style="opacity: .8">
      </a>
      <!-- Expands/Collapses side menu -->
      <!--<li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>-->
      <li v-for="item in links" class="nav-item d-none d-sm-inline-block">
        <router-link :to="item.url" class="nav-link">{{item.name}}</router-link>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Logs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logs/ems.log" target="_new">EMS Server Log</a>
          <a class="dropdown-item" href="/log-viewer" target="_new">Log viewer</a>
          <a class="dropdown-item disabled" href="#" target="_new">Old EMS Server logs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logs/_TC.json" target="_new">Translation context</a>
          <div v-if="dagExportFiles.length>0" class="dropdown-divider"></div>
          <a v-if="dagExportFiles.length>0" class="dropdown-item disabled" href="#">DAG as...</a>
          <a v-for="item in dagExportFiles"  class="dropdown-item" :href="'/files/getpath'+item" target="_new">&nbsp;&nbsp;&nbsp;&nbsp;{{item.slice(item.lastIndexOf('.')+1).toLowerCase()}}</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          API
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/actuator" target="_new">Actuator</a>
          <a class="dropdown-item" href="/v3/api-docs" target="_new">OpenAPI in Json</a>
          <a class="dropdown-item" href="/v3/api-docs.yaml" target="_new">OpenAPI in Yaml</a>
          <a class="dropdown-item" href="/swagger-ui.html" target="_new">Swagger UI</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Downloads
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/resources/broker-client.jar" target="_new">Broker Client JAR</a>
          <a class="dropdown-item" href="/resources/client.bat" target="_new">Broker Client .bat</a>
          <a class="dropdown-item" href="/resources/client.sh" target="_new">Broker Client .sh</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/resources/baguette-client.tgz" target="_new">Baguette Client</a>
          <a class="dropdown-item" href="/resources/baguette-client.tgz.md5" target="_new">Baguette Client MD5</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Details...</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#" target="_new">FAQ</a>
          <a class="dropdown-item disabled" href="#">Contact</a>
          <a href="/resources/index.html" target="_new" class="nav-link">Old page</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.morphemic.cloud/" target="_new">Morphemic</a>
          <div class="dropdown-divider"></div>
          <router-link to="/about" class="nav-link">About</router-link>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout" title="Sign out" role="button"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>

    <slot></slot>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <slot name="right-side"></slot>

      <!-- Fullscreen Button -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

      <!-- Control Sidebar Button -->
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <!--<i class="fas fa-th-large"></i>-->
          <i class="fa fa-cog"></i>
        </a>
      </li>

      <!-- Clock -->
      <li class="nav-item" v-if="showClock">
        <a class="nav-link" href="#" style="padding-left: 0; padding-right: 0;">
          <div style="width:70px; white-space:nowrap; font-size:12pt;"><Clock /></div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
